<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Student Portal | Index</title>
  <meta name="description" content="The homepage of my education site">
  <meta name="author" content="Sayan Bhattacharjee a.k.a zehel2892">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="skeleton/css/normalize.css">
  <link rel="stylesheet" href="skeleton/css/skeleton.css">
  <link rel="stylesheet" href="skeleton/css/customstyle.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- CONTAINER STARTS HERE -->
  <div class="container">
    <div class="row">
      <div class="u-full-width" style="margin-top: 15%">
        <h2 id="welcome"><strong>Student Portal</strong></h2>
        <p class="motivation centered">"<em>welcome friend</em>"</p>
      </div>
    </div>

    	<!-- Make sure that all centered buttons have their floats cleared using u-cf class
    	_______________________________________________ -->
    		<a id="sign-in" class="button button-primary u-cf" href="signin">Sign in</a>
    		<br>
    		<small class="centered u-cf">or <a id="sign-up"  href="signup">Sign up</a></small>
    		<hr>
            
            
   
    <nav class="u-full-width navigation-bar centered">
    	<ul>
    		<li><a href="#" title="Home">HOME</a></li><li>
    		<a href="#" title="Learn">LEARN</a></li><li>
    		<a href="#" title="Motivational articles">GUEST-ARTICLES</a></li>
    	</ul>
    </nav>
   <hr>

   <br>
  
   <hr style="margin-bottom: 10%;">

  </div>
  <!-- CONTAINER ENDS HERE -->

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
