<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Student | Sign up</title>
  <meta name="description" content="The homepage of my education site">
  <meta name="author" content="Sayan Bhattacharjee a.k.a zehel2892">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  ––––––––––––––––––––––––––––––––––––––––––––––––––
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="skeleton/css/normalize.css">
  <link rel="stylesheet" href="skeleton/css/skeleton.css">
  <link rel="stylesheet" href="skeleton/css/customstyle.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- CONTAINER STARTS HERE -->
  <div class="container">
    <div class="row">
      <div class="u-full-width" style="margin-top: 15%">
        <h2 id="welcome"><strong>Sign up page</strong></h2>

      </div>
    </div>



    <!-- The sign up form looks like this -->
<form method="post" autocomplete="on" style="margin-bottom:0px;">
    <div class="row centered ">
    <div class="twelve columns">
      <label for="name" class="raleway">Your name</label>
      <input class="centered u-full-width mid-width" placeholder="John Doe" id="name" name="name" type="text" required=true>
    </div>
  </div>
	<br>
  <div class="row centered ">
    <div class="twelve columns">
      <label for="emailInput" class="raleway" >Your unique email</label>
      <input class="centered u-full-width mid-width" placeholder="test@mailbox.com" id="emailInput" name ="email" type="email" required=true>
    </div>
  </div>
  <br>
  <div class="row centered">
	<div class="twelve columns ">
	  <label for="regis" class="raleway">Unique Registration Number</label>
	  <input class="centered u-full-width mid-width " placeholder="U13EX058" id="regis" name="registrationNumber" type="text" required=true>
	</div>
  </div>
  <br>
  <div class="row centered">
	<div class="twelve columns">
	  <label for="degree" class="raleway">Degree</label>
	  <select class="centered u-full-width mid-width text" name="degree" id="degree">
		<option name="UG" value="U.G" class="text">UG</option>
		<option	name="PG" value="PG" class="text">PG</option>
		<option name="PhD" value="PhD" class="text">PhD</option>
	  </select>
	</div>
  </div>
  <br>
  <div class="row centered">
	<div class="twelve columns">
	  <label for="department" class="raleway">Department</label>
	  <select class="centered u-full-width mid-width text" name="department" id="department">
		<option name="AERONAUTICAL" value="AERONAUTICAL" class="text">AERONAUTICAL</option>
		<option	name="CSE" value="CSE" class="text">CSE</option>
		<option name="EEE" value="EEE" class="text">EEE</option>
	  </select>
	</div>
  </div>
  <br>
  <div class="row centered">
	<div class="twelve columns">
	  <label for="pass" class="raleway">Password</label>
	  <input class="centered u-full-width mid-width" placeholder="********" id="pass" name="password" type="password" required=true>
	</div>
  </div>
  <br><br>
  <div class="centered">
  <input class="button-primary " value="Sign up"  type="submit">
  </div>
</form>

<!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

<!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->






	<!-- Make sure that all centered buttons have their floats cleared using u-cf class
    	_______________________________________________ -->
	<section style="margin-top:0px;margin-bottom:0px;">
  	<small class="centered u-cf">already have an user account?  <a id="sign-in"  href="signin">Sign in</a> or <a id="return-home"
	class="link" href="return-home">return Home</a></small>

	</section>


  </div>
  <!-- CONTAINER ENDS HERE -->

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
