<option name="veryGood" value="veryGood" class="text">Very Good</option>
<option	name="good" value="Good" class="text">Good</option>
<option name="satisfactory" value="Satisfactory" class="text">Satisfactory</option>
<option name="unatisfactory" value="Unsatisfactory" class="text">Unsatisfactory</option>